@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

// CUSTOM VARIABLE
$page-padding: 1em 1.5em;

// CUSTOM VARIABLE END
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    transition: all 0.3s; //pure perfect S.S.S trick
}

body.active {
    background-color: #29272775;
}

// -------- HEADER -------- //
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1.5em;
    position: relative;
    gap: 2em;
    height: 4em;
    border-bottom: 1px solid gray;

    button {
        //burgerMenu
        background: none;
        border: none;
        font-size: 1.2rem;

        &:hover {
            background-color: rgb(219, 219, 219);
            border-radius: 50px;
            cursor: pointer;
        }
    }

    .left {
        display: flex;
        align-items: center;
        gap: 1em;
        align-items: center;
        flex-grow: 1;

    }

    .right {
        display: flex;
        align-items: center;
        gap: 1em;
        align-items: center;


        button {
            background: none;
            border: none;
            font-size: 1.1rem;

            &:hover {
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            color: #208ee7;
            padding: 10px;

            &:hover {
                background-color: hsl(218.2, 91.7%, 95.3%);
                border-radius: 5px;

            }
        }
    }

    .search-wrapper {
        display: none;

        #closeSearchBtn {
            background-color: #d5d7d8;
            padding-inline: 10px;
            border-radius: 50px;

            &:hover {
                background-color: gray;
                cursor: pointer;
            }
        }


        .fa-magnifying-glass {
            position: absolute;
            left: 5.5em;
            bottom: 20px;
            z-index: 10;
        }

        input {
            padding: 10px;
            padding-left: 3em;
            position: relative;
            width: 100%;
            background-color: #dadce052;
            border: none;

            &::placeholder {
                font-weight: bold;

            }

            &:focus {
                outline: none;
            }
        }


    }

    .search-wrapper.active {
        display: flex;
        gap: 1em;
        width: 100%;
    }

    .left.active,
    .right.active {
        display: none;
    }

}

// -------- MOBILE NAV -------- //
.mobile-nav {
    flex-direction: column;
    background-color: #ffffff;
    min-height: 100vh;
    width: 65%;
    padding: 1.4em 0;
    position: absolute;
    top: 0;
    left: -100%;
    border-right: solid 1px rgba(0, 0, 0, 0.521);
    transition: all 0.2s;
    font-size: 14px;

    .top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.65em;
        margin-top: -2px;
        border-bottom: 1px solid gray;
        padding-bottom: 0.75em;
        padding-left: 1.5em;

        #closeBurger {
            background: none;
            border: none;
            font-size: 1.3rem;
            color: rgb(0, 0, 0);
            padding: 1px 4px;

            &:hover {
                background-color: rgb(241, 239, 239);
                border-radius: 50px;
                cursor: pointer;
            }
        }

        #backBtn {}
    }

    .essentials {
        display: flex;
        flex-direction: column;
        gap: 1em;
        border-bottom: 1px solid gray;
        padding-top: 1em;
        padding-bottom: 1em;

        h3 {
            color: rgb(95, 99, 104);
            padding: 0 1.3em;

            &:hover {
                color: #000;
            }
        }

        .more {
            display: flex;
            justify-content: space-between;
            padding: 2px 1.5em;
            width: 97%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            &:hover {
                background-color: #f1f3f4;
            }

            p {
                padding: 4px 0;
            }

            button {
                border: none;
                background: none;
            }
        }
    }

    .design-plan {
        display: flex;
        flex-direction: column;
        gap: 1em;
        border-bottom: 1px solid gray;
        padding-top: 1em;
        padding-bottom: 1em;

        h3 {
            color: rgb(95, 99, 104);
            padding: 0 1.3em;

            &:hover {
                color: #000;
            }
        }

        .more {
            display: flex;
            justify-content: space-between;
            padding: 2px 1.5em;
            width: 97%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            &:hover {
                background-color: #f1f3f4;
            }

            p {
                padding: 4px 0;
            }

            button {
                border: none;
                background: none;
            }
        }
    }

    .three-links {
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
            padding-inline: 1.5em;
            border-bottom: 1px solid gray;
            padding: 20px 1.5em;
            display: flex;

            &:hover a {
                color: #000;
            }

            a {
                text-decoration: none;
                font-weight: bold;
                color: rgb(95, 99, 104);
            }
        }
    }
}

.mobile-nav.active {
    display: flex;
    transition: all 0.2s;
    left: 0%;
}

// LAYER 1>
.essentials-page {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-height: 100vh;
    width: 65%;
    position: absolute;
    top: 0;
    left: -100%;
    border-right: solid 1px rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 4em;

    >ul {
        display: flex;
        flex-direction: column;
        // padding: 0 1.5em;
        gap: 1em;
        border-bottom: 1px solid gray;
        padding-top: 1em;
        padding-bottom: 1em;

        >* {
            display: flex;
            justify-content: space-between;
            padding: 2px 1.5em;
            width: 97%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 14px;
        }
    }
}

.essentials-page.active {
    left: 0;
    transition: all 0.2s;
}

// -------- MOBILE NAV END-------- //